<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>😆Benjamin🤪</title>
    <link rel="stylesheet" href="/css/post.css">
    <link rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico' />
</head>
<body>
    <main class="main">
        <section class="section">
            <h1>{{ pageTitle }}</h1>
            <p class="time">{{ date }}</p>
            {% comment %} <p class="excerpt">I love GuoJianglin I will do anything for him</p> {% endcomment %}
            <p> {{ content }} </p>
        </section>
    </main>
</body>
</html>